# FIRST JUPYTER 
## 01-04-2023

#### # Identifier - Keywords

In [46]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [47]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [48]:
x=1+2j
type(x)

complex

In [49]:
s="is python line"
s[-6:-12:-1]

'nohtyp'

In [50]:
r = "a sample python statement"
r[-11:-17:-1]
r[:-10:-1]

'tnemetats'

In [51]:
d1 = [{"a":34},66,{"66":[{"00":[98,"hi"]},"awsome",{"m":"n"}]}]
d1[1]

66

In [52]:
d1[2]["66"][0]["00"][0]

98

In [53]:
d1[2]["66"][1][1]

'w'

In [54]:
d1[2]["66"][1]

'awsome'

## Day - 3 \\ 04-04-2023

In [55]:
s = "8hojeuch"
a = [4,6,8,'hi',3.4]
b = (4,6,8,'hi',3.4)
c = {4:6,8:['hi',3.4]}
d = {4,6,8,'hi',3.4}

In [56]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [57]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [58]:
s+='k'

s

'8hojeuchk'

In [59]:
# String insertion in between 
s = s[:3] + ' himani ' + s[3:]
s

'8ho himani jeuchk'

In [60]:
# List inserion in between
a = a[:3]+[" balebale "]+a[3:]
a

[4, 6, 8, ' balebale ', 'hi', 3.4]

In [61]:
b += ('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye')

In [62]:
# Tuple insertion in between
b = b[:3]+(39,)+b[3:]
b

(4, 6, 8, 39, 'hi', 3.4, 'bye')

In [63]:
#concatenate list string tuple to tuple
{*a,*b,*s}

{' ',
 ' balebale ',
 3.4,
 39,
 4,
 6,
 8,
 '8',
 'a',
 'bye',
 'c',
 'e',
 'h',
 'hi',
 'i',
 'j',
 'k',
 'm',
 'n',
 'o',
 'u'}

In [64]:
# Insertion in Dictionary
c['type']='ek_tha_tiger'
c

{4: 6, 8: ['hi', 3.4], 'type': 'ek_tha_tiger'}

In [65]:
# Concatenate Dictionaries
c2 = {'a':35,'b':45}
{**c,**c2}

{4: 6, 8: ['hi', 3.4], 'type': 'ek_tha_tiger', 'a': 35, 'b': 45}

In [66]:
# ( *args , **kwargs)

In [67]:
## Item Inserion --
# s[0] = 'A' not possible in mutable
# b[0] = 'A' not possible in mutable
# a[0] = 'A' done
# c[4] = 'A' done

## Item Deletion ==
# del s[0] not possible
# del a[0] done
# del b[0] not possible
# del c[4] done

#### Data Type Built-in Functions
#### -> str   : upper ,lower ,find ,split ,strip ,join ,format ,count
#### -> list  : append ,sort ,count ,copy ,insert ,remove ,index ,pop
#### -> tuple : count ,index
#### -> dict  : keys ,values ,update ,get ,pop
#### -> set   : add, difference, union, pop, remove

In [68]:
a = 34
b = 34.5
c = 34 + 5j
d = '-Siingham-'
e = [3,4,1]
f = (3,4,5)
g = {3:[4,5]}
h = {3,4,5}

In [69]:
e.append(78)
e

[3, 4, 1, 78]

1. No input and no output args
2. Input arg but no output arg
3. No input but output args are there
4. Both are there

- In-place (Self Update)
- Non in-place

+ Deep Copy vs Shallow Copy

In [70]:
e

[3, 4, 1, 78]

## Day - 4 \\ 05-04-2023

In [71]:
"@".join(['kumudjain1123','gmail.com'])

'kumudjain1123@gmail.com'

In [72]:

'hi what is this'.replace(' ','#')

'hi#what#is#this'

In [73]:
'hi what is this'.split()

['hi', 'what', 'is', 'this']

In [74]:
'hi'.split()

['hi']

In [75]:
x = 20
y = 30
# z = 'ek aisa data jo 20 s 30 hai'
z = 'el aisa data jo '+str(x)+' to '+str(y)+' ho'
z
# using format function
z = 'ek aisa data jo {} se {} hai'
z.format(x,y)
# z = 'ek aisa data jo {} se {} hai'.format(x,y)

'ek aisa data jo 20 se 30 hai'

In [76]:
z1 = 'ek aisa data jo {0} to {1} hai lekin {0} kaafi hai'
z1 = z1.format(x,y)
z1

'ek aisa data jo 20 to 30 hai lekin 20 kaafi hai'

In [77]:
# using f-string
# f'anything' 
zf = f'ek aisa data jo {x} to {y} hai lekin {x} kaafi hai'
zf

'ek aisa data jo 20 to 30 hai lekin 20 kaafi hai'

In [78]:
e

[3, 4, 1, 78]

In [79]:
e1 = ['baki','sab','theek']
e1.sort(key=len)
e1

['sab', 'baki', 'theek']

In [80]:
tuple(sorted(f,reverse=True))

(5, 4, 3)

In [81]:
type(g.keys())

dict_keys

In [82]:
g['a']=44
g.keys()

dict_keys([3, 'a'])

In [83]:
list(g.keys())[0]

3

In [84]:
g.get('A','Oh No')

'Oh No'

In [85]:
help(g.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [86]:
h

{3, 4, 5}

Conditional Statements
- if-elif-else

Looping
- while
- for-else
- continue/break

Eroor handling
- try-except-else-finally

User Defined
- def

Classes
- class

## Day - 5 \\ 06-04-2023

In [87]:
a = [4,'hi','ji',22]
b = []
for val in a:
    b.append(val*2)
b

[8, 'hihi', 'jiji', 44]

#### Comprehension - For-loop Statements which are of one liner
List Comprehension
+ [ Output for-loop ]
+ [ output for-loop if-condition ] --> Filter

Dictionary Comprehension
+ { key_op:value_op for loop }

Set Comprehension
+ { output for-loop }

Generator Comprehension
+ ( output for=loop)

In [88]:

b = [val*10 for val in a]
b

[40, 'hihihihihihihihihihi', 'jijijijijijijijijiji', 220]

In [89]:
k = [1,2,3,4,5,6,7,14,15,8,99,9,45,67]

In [90]:
p = [val for val in k if val%2==0]
p

[2, 4, 6, 14, 8]

In [91]:
l = [val for val in k if val%2 and val>=10]
l

[15, 99, 45, 67]

In [92]:
p = [val*2 if val%2==1 else val//2 for val in k]
p

[2, 1, 6, 2, 10, 3, 14, 7, 30, 4, 198, 18, 90, 134]

In [93]:
p = [val*2 if val%2==1 else (val//2 if val < 20 else val) for val in k]
p

[2, 1, 6, 2, 10, 3, 14, 7, 30, 4, 198, 18, 90, 134]

In [94]:
k

[1, 2, 3, 4, 5, 6, 7, 14, 15, 8, 99, 9, 45, 67]

In [95]:
m = {val:val**2 for val in k if val %2==0}

In [96]:
for key,val in m.items():
    print(key,val)

2 4
4 16
6 36
14 196
8 64

### User Defined Functions

In [97]:
def ek_aur(ek_val,dusri_val):
    '''
    bas padhlo multiply karega
    '''
    return ek_val*dusri_val

In [98]:
help(ek_aur)

Help on function ek_aur in module __main__:

ek_aur(ek_val, dusri_val)
    bas padhlo multiply karega

In [99]:
print(ek_aur(2,3))

6

In [100]:
ek_aur(2,3)

6

In [102]:
def kuch(x=10,*v,**u):
    return [i*x for i in v],u

In [103]:
kuch(3,6,8)

([18, 24], {})

In [106]:
kuch(3,6,8,somedata = [3,4,5,6,6])

([18, 24], {'somedata': [3, 4, 5, 6, 6]})

In [108]:
kuch(3,6,8,somedata = [3,4,5,6,6] , again = ['dc',233])

([18, 24], {'somedata': [3, 4, 5, 6, 6], 'again': ['dc', 233]})

## Day - 6 \\ 10-04-2023

Python functions can be - 
- Assigned as a value
- Taken as input argument function
- Defined inside another function 
- Return a function as output from another function

- Anonymous Function - Lambda Expressions 
- Lambda inp_args : output ( returned )
- It is always onr - liner
- Always returns
- Input arguments can be multiplle, optimal, Keyword, named etc.
- Output can be simple/conditional/comprehension

In [8]:
doubler_L = lambda x : x*2
doubler_L

In [4]:
doubler_L(40)

80

In [7]:
oddEve = lambda x : 'Odd' if x%2 else 'Even'
oddEve(10) , oddEve(13)

('Even', 'Odd')

Scope of Variable
- Global
- Local
- Nonlocal

In [12]:
x = 10

def abc():
    print(x)
    
abc()

10

In [13]:
x = 10 # Global

def abc():
    x=30 # Local
    print(x)
    
print(x)
abc()
print(x)

10
30
10

In [16]:
x = 10

def abc():
    global x
    x=30
    print(x)
    
print(x)
abc()
print(x)

10
30
30

In [1]:
x = 10 

def abc():
    x=30 
    y=15
    def xyz():
        nonlocal y
        y = 28
        print('From xyz',x)
    xyz()
    print(y)
        
print(x)
abc()
print(x)

10
From xyz 30
28
10